/* Header-----------------------------------------------Header */

header{
  min-height: 60px;
  padding: 30px 0px;
  text-align: center;
  font-size: 26px;
  line-height: 0px;
  margin: 36px auto;
  padding: 25px;
  max-width: 600px;
}

.title{
  line-height: 1em; 
  font-size: 4.3em; 
  font-weight: 100;
}

/* Main---------------------------------------------------Main */

body{
  background:rgb(0,0,0);
  background-image: url("wizardbgd.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Big Shoulders Text', cursive;
  font-size: 20px;
  line-height: 1.7;
  color:#fff;
  text-align: center;
  margin: 0px;
  width:100%;
}

.wrapper{
  background-image: url("stringsplain.png");
  background-repeat: no-repeat;
  position: absolute;
  float: middle;
  top: 0;
  left: 50%;
  margin-left: -201px;
  height: 296px;
  z-index: -1;
  opacity: 0.8;
}

main{
  overflow:hidden;
  width: 86%;
  max-width:700px;
  margin: 0px auto;
  border: thick double #ffe28f;
  background:rgba(0,0,0,.85);
  text-align: left;
  padding: 12px 20px;
}

mark{
  color: #fff;
  background-color: rgba(0,0,0,0);
}

img{
  float: left; 
  margin: 0px 20px 20px 0px;
  border: 1px solid #d1ccdd;
}

h1,h2,h3,h4{
  color: #fff;
  margin: 0;
}

p{
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #D1CCDC;
}

a{
  color:#ffe28f;
  text-decoration: none;
}

a:hover{
  color: #fff;
  text-decoration: underline;
}

main a{
  color: #fff;
  text-decoration: underline;
}

.nav{
  color: #FFf;
  font-family: 'Big Shoulders Text', cursive;
}

.nav a:hover{
  color: #fff;
}

.space{
  padding: 0 16px;
}

.button{
  border: solid 1px #d1ccdd;
  text-decoration: none;
  color: #d1ccdd;
  padding: 0 6px;
}

.button:hover{
  border: solid 1px #fff;
  text-decoration: none;
}

.albumcover{
  width: 200px;
  height: 200px;
}

.hex-svg{
    position: absolute;
    top:24px;
    left:0;
    width: 100%;
    height: 220px;
    z-index: -1;
}
 
.hex-content{
    color: white;
    position: absolute;
    /* centring trick*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);    
}

.logo{
  max-width: 500px; 
  width: 90%; 
  border:none; 
  float:none; 
  margin:0;
}

/* Footer-----------------------------------------------Footer */

footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
  letter-spacing: 8px; 
  font-size:150%;
  margin: 0 auto;
  background: rgba(0,0,0,.8);
  border: 1px solid white;
}

footer p{
  font-size:14px;
}

footer a{
  color: #fff;
}

/* Mobile Changes --------------------------------------Mobile */

.mobile-only{
  display: none;
}

.desktop-only{
  display: inline;
}

@media only screen and (max-width: 600px) {
  header p, header a{
    font-size: 16px;
  }
  .space{
    padding: 0 4px;
  }
  .title{
    font-size: 2em; 
  }
  body, a, h2{
    font-size: 20px;
  }
  main{
    padding: 12px 10px;
  }
  main p{
    margin-top: auto;
  }
  .hex-svg {
    top:0;
  }
  .logo{
    max-width: 370px; 
  }
  .wrapper{
    display:none;
  }
  .albumcover{
    width: 100px;
    height: 100px;
  }
  .fa{
    font-size:130% !important;
  }
  .mobile-only{
    display: inline;
  }
  .desktop-only{
    display: none;
  }
}
