/* Fonts-------------------------------------------------Fonts */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

/* Header-----------------------------------------------Header */

header{
   width: 100%;
   min-height: 60px;
   padding: 0px 0px 0px 0px;
   text-align: center;
   font-size: 20px; 
   line-height: 20px;
}

/* Main---------------------------------------------------Main */

body{
  background:rgb(0,0,0);
  background-image: url("backgrounddarker.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family:Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color:#fff;
  text-align: center;
  margin: 0px;
}

.wrapper{
  border:none;
  background: radial-gradient(ellipse at top, #000, transparent),
  radial-gradient(ellipse at bottom, transparent, transparent);
  max-width:40000px;
}

div{
  width: 86%;
  max-width: 700px;
  padding: 16px;
  margin: 0px auto;
  text-align: left;
  border: 1px solid #A67DB8;
  background: rgba(0,0,0,.7);
}

main{
  padding: 0px 0px 0px 0px;
}

h1,h2,h3,h4{
  color: #F06543;
  margin: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #E8e9eB;
}

a{
  color: #A67DB8;
  text-decoration: none;
}

a:hover{
  color: #fff;
  text-decoration: underline;
}

.nav{
  background-color: #e8e9eb;
  border-radius: 60px;
  line-height: 1.4em;
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  color: #A67DB8;
  padding: 5px;
}

.nav a:hover{
  color: #000;
}

.artists-note{
  font-size: 14px;
  font-style: italic;
  color: #A67DB8;
}

.space{
  padding: 0 16px;
}

/* Footer-----------------------------------------------Footer */

footer {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

/* Mobile Changes --------------------------------------Mobile */

.mobile-only{
  display: none;
}

.desktop-only{
  display: inline;
}

@media only screen and (max-width: 600px) {
  header p, a{
    font-size: 16px;
  }
  .space{
    padding: 0 4px;
  }
  .mobile-only{
    display: inline;
  }
  .desktop-only{
    display: none;
  }
}
